h1 {
    border: 2px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}

.sticky {
    position: sticky;
    top: 0;
}

.sticky h1{
    background-color: white;
}

.note-container {
    padding: 1rem 2rem 1rem 2rem;
}

.individual-note {
    font-size: x-large;
    background-color: #eee;
}